@charset 'UTF-8';
@import 'materialize-css/sass/materialize';

@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/functions';
@import '../abstracts/placeholders';
@import '../abstracts/animations';

@import '../base/typography';
@import '../base/images';
@import '../base/global';
@import '../base/reset';
@import '../base/utility-classes';

$mainc: #57b846;
.fake-label {
  display: none;
}
.arf03 {
  background-image: linear-gradient(#a18cd1, #fbc2eb);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;

  .inner {
    width: 100%;
    max-width: 780px;
    min-height: 580px;
    background: #000;
    border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15); 
    overflow: hidden;
    display: flex;

    header {
      min-width: 390px;
      background: url('../images/A_Register_Form_03.png');
      background-size: cover;
      background-position: center center;
    }

    form {
      padding: 65px;
      flex-grow: 1;

      legend {
        font-size: 30px;
        line-height: 1;
        color: #fff;
        font-weight: 400;
        margin-bottom: 54px;
      }

      .row {
        margin-bottom: 30px;

        &.two-line {
          display: flex;
          justify-content: space-between;
  
          .input-field {
            width: 100%;
            max-width: calc(50% - 30px);
          }
        }
      }

      .input-field {
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;

        label.active {
          color: #fff;
        }

        input {
          font-size: 14px;
          height: 2rem;
          border-bottom: 1px solid rgba($color: #fff, $alpha: .2);
          cursor: pointer;
          color: #ccc;
          &:focus {
            border-bottom-color: #fff;
            box-shadow: 0 1px 0 0 #fff;
          }

          &.datepicker {
            padding-right: 10px;
          }
        }

        > label {
          font-size: 14px;
          line-height: 1;
          color: #ccc;
          left: 0;
          transform: translateY(4px);

          &:not(.label-icon).active {
            transform: translateY(-12px) scale(0.8);
            transform-origin: 0 0;
          }
        }

        &.date {
          svg {
            position: absolute;
            width: 16px;
            bottom: 18px;
            right: 0;
            fill: #ccc;
          }
        }
      }

      .btn-search {
        background: $mainc;
        min-width: 130px;
        height: 40px;
        white-space: nowrap;
        border-radius: 20px;
        font-weight: bold;
        font-size: 14px;
        margin-top: 18px;
        color: #fff;
        transition: all .2s ease-out, color .2s ease-out;
        border: 0;

        &:hover {
          background: darken($mainc, 5%);
        }
      }
    }
  }

  .select-wrapper.custom {
    .caret {
      bottom: 15px;
      width: 20px;
      fill: #ccc;
      right: 0;
    }

    .fake-label {
      display: block;
      color: #ccc;
      position: absolute;
      top: 0;
      font-size: 14px;
      line-height: 1;
      left: 0;
      transition: transform .2s ease-out, color .2s ease-out;
      transform-origin: 0% 100%;
      text-align: initial;
      transform: translateY(12px);
    }
  
    .select-dropdown[data-disabled="true"] {
      color: #ccc;
    
      & ~ .fake-label {
        transform: translateY(2px);
      }
    }
    
    .select-dropdown[data-disabled="false"] {
      & ~ .fake-label {
        transform: translateY(-12px) scale(0.8);
        color: #fff;
      }
    }

    .dropdown-content {
      .disabled {
        display: none;
      }

      li > span {
        color: $mainc;
        font-size: 14px;
      }
    }
  }

  .datepicker-calendar-container .btn-flat {
    border: 0;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
  }

  .month-next {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3e%3c/svg%3e");
    background-position: center center;
    background-repeat: no-repeat;

    svg {
      display: none;
    }
  }

  .month-prev {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z'/%3e%3c/svg%3e");
    background-position: center center;
    background-repeat: no-repeat;

    svg {
      display: none;
    }
  }

  .datepicker-day-button {
    font-weight: 300;
  }

  @media screen and (max-width: 1280px) {
    padding: 15px;

    .inner {
      form {
        padding: 30px;

        legend {
          margin-bottom: 40px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .inner {
      header {
        min-width: 290px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .inner {
      flex-direction: column;

      header {
        width: 100%;
        min-height: 210px;
        margin-bottom: 20px;
      }
    }
  }
}


