@charset 'UTF-8';
@import 'materialize-css/sass/materialize';

@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/functions';
@import '../abstracts/placeholders';
@import '../abstracts/animations';

@import '../base/typography';
@import '../base/images';
@import '../base/global';
@import '../base/reset';
@import '../base/utility-classes';

$mainc: #57b846;
.fake-label {
  display: none;
}
.arf02 {
  background: #fa4251 ;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 15px;

  .inner {
    width: 100%;
    max-width: 960px;
    height: 580px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15); 
    overflow: hidden;
    display: flex;

    header {
      min-width: 280px;
      background: url('../images/A_Register_Form_02.png');
      background-size: cover;
      background-position: center center;
    }

    form {
      padding: 85px 89px 85px 89px;
      flex-grow: 1;

      legend {
        font-size: 30px;
        line-height: 1;
        color: #333333;
        font-weight: bold;
        margin-bottom: 54px;
        text-transform: uppercase;
      }

      .row {
        margin-bottom: 40px;

        &.two-line {
          display: flex;
          justify-content: space-between;
  
          .input-field {
            width: 100%;
            max-width: calc(50% - 30px);
          }
        }

        &:after {
          display: none;
        }
      }

      .input-field {
        margin-bottom: 30px;
        margin-top: 0;
        width: 100%;
        height: 32px;
        margin-bottom: 0;

        input {
          font-size: 14px;
          height: 32px;
          border-bottom: 1px solid #ccc;
          cursor: pointer;

          &.datepicker {
            padding-right: 10px;
          }
        }

        > label {
          font-size: 14px;
          line-height: 1;
          color: #808080;
          left: 0;
          transform: translateY(4px);
          font-weight: bold;

          &:not(.label-icon).active {
            transform: translateY(-12px) scale(0.8);
            transform-origin: 0 0;
          }
        }

        &.date {
          svg {
            position: absolute;
            width: 16px;
            bottom: 6px;
            right: 0;
            fill: #ccc;
          }
        }
      }

      .btn {
        background: $mainc;
        min-width: 100px;
        height: 40px;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: bold;
        font-size: 14px;
        margin-top: 18px;
        color: #fff;
        transition: all .2s ease-out, color .2s ease-out;

        &:hover {
          background: darken($mainc, 5%);
        }

        &.btn-search {
          text-transform: none;
        }
      }
    }
  }

  .select-wrapper.custom {
    .caret {
      bottom: 5px;
      width: 20px;
      fill: #ccc;
      right: 5px;;
    }

    .fake-label {
      display: block;
      color: #808080;
      position: absolute;
      top: 0;
      font-size: 14px;
      line-height: 1;
      left: 0;
      transition: transform .2s ease-out, color .2s ease-out;
      transform-origin: 0% 100%;
      text-align: initial;
      transform: translateY(12px);
      font-weight: bold;
    }
  
    .select-dropdown[data-disabled="true"] {
      color: #ccc;
    
      & ~ .fake-label {
        transform: translateY(2px);
      }
    }
    
    .select-dropdown[data-disabled="false"] {
      & ~ .fake-label {
        transform: translateY(-12px) scale(0.8);
      }
    }

    .dropdown-content {
      .disabled {
        display: none;
      }

      li > span {
        color: $mainc;
        font-size: 14px;
      }
    }
  }

  .month-next {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3e%3c/svg%3e");
    background-position: center center;
    background-repeat: no-repeat;

    svg {
      display: none;
    }
  }

  .month-prev {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z'/%3e%3c/svg%3e");
    background-position: center center;
    background-repeat: no-repeat;

    svg {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 15px;

    .inner {
      display: flex;
      flex-direction: column;
      height: auto;

      header {
        min-height: 160px;
      }

      form {
        padding: 30px;

        legend {
          margin-bottom: 40px;
        }

        .row {
          &.two-line {
            display: flex;
            justify-content: space-between;
    
            .input-field {
              width: 100%;
              max-width: calc(50% - 10px);
            }
          }
        }

        .input-field {
          input {
            &.datepicker {
              padding-right: 0;
            }
          }
  
          &.date {
            svg {
              display: none;
            }
          }
        }
      }
    }
  }
}


