@charset 'UTF-8';
@import 'materialize-css/sass/materialize';

@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/functions';
@import '../abstracts/placeholders';
@import '../abstracts/animations';

@import '../base/typography';
@import '../base/images';
@import '../base/global';
@import '../base/reset';
@import '../base/utility-classes';

* {
  box-sizing: border-box;
}

$mainc: #57b846;
.fake-label {
  display: none;
}
.arf01 {
  background: #2c6ed5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

  .inner {
    width: 100%;
    max-width: 680px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15); 
    overflow: hidden;

    header {
      min-height: 210px;
      background: url('../images/A_Register_Form_01.png');
      background-size: cover;
      background-position: center center;
    }

    form {
      padding: 60px 89px 65px 89px;

      legend {
        font-size: 30px;
        line-height: 1;
        color: #333333;
        font-weight: 400;
        margin-bottom: 54px;
      }

      .row {
        margin-bottom: 40px;

        &.two-line {
          display: flex;
          justify-content: space-between;
  
          .input-field {
            width: 100%;
            max-width: calc(50% - 30px);
          }
        }

        &:after {
          display: none;
        }

        &.fouth {
          .input-field {
            width: 100%;
            max-width: calc(50% - 22px);
          }
        }
      }

      .input-field {
        margin-top: 0;
        width: 100%;
        margin-bottom: 0;
        height: 32px;

        & > input {
          font-size: 14px;
          height: 32px;
          border-bottom: 1px solid #ccc;
          cursor: pointer;
          margin-bottom: 0;

          &.datepicker {
            padding-right: 10px;
            height: 32px;;
          }
        }

        > label {
          font-size: 14px;
          line-height: 1;
          color: #555;
          left: 0;
          transform: translateY(4px);

          &:not(.label-icon).active {
            transform: translateY(-12px) scale(0.8);
            transform-origin: 0 0;
          }
        }

        &.date {
          svg {
            position: absolute;
            width: 16px;
            bottom: 6px;
            right: 0;
            fill: #ccc;
          }
        }
      }

      .btn {
        background: $mainc;
        min-width: 100px;
        height: 40px;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: bold;
        font-size: 14px;
        margin-top: 18px;
        color: #fff;
        transition: all .2s ease-out, color .2s ease-out;
        font-family: 'Roboto', sans-serif;

        &:hover {
          background: darken($mainc, 5%);
        }

        &.btn-search {
          text-transform: none;
        }
      }

      .select-wrapper input.select-dropdown {
        border-bottom: 1px solid #ccc;
        height: 31px;;
      }
    }

    .input-field {
      & > .select-wrapper.custom {
        .caret {
          bottom: 5px;
          width: 20px;
          fill: #ccc;
          right: 5px;;
        }
    
        .fake-label {
          display: block;
          color: #9e9e9e;
          position: absolute;
          top: 0;
          font-size: 14px;
          line-height: 1;
          color: #555;
          left: 0;
          transition: transform .2s ease-out, color .2s ease-out;
          transform-origin: 0% 100%;
          text-align: initial;
          transform: translateY(12px);
        }
      
        .select-dropdown[data-disabled="true"] {
          color: #ccc;
        
          & ~ .fake-label {
            transform: translateY(7px);
          }
        }
        
        .select-dropdown[data-disabled="false"] {
          & ~ .fake-label {
            transform: translateY(-12px) scale(0.8);
          }
        }
    
        .dropdown-content {
          .disabled {
            display: none;
          }
    
          li > span {
            color: $mainc;
            font-size: 14px;
          }
        }
      }
    }

    .month-next {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3e%3c/svg%3e");
      background-position: center center;
      background-repeat: no-repeat;

      svg {
        display: none;
      }
    }

    .month-prev {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z'/%3e%3c/svg%3e");
      background-position: center center;
      background-repeat: no-repeat;

      svg {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    .inner {
      header {
        min-height: 160px;
      }

      form {
        padding: 30px;

        legend {
          margin-bottom: 40px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding: 15px;

    .inner {
      header {
        min-height: 160px;
      }

      form {
        padding: 30px;

        legend {
          margin-bottom: 40px;
        }

        .row {
          &.two-line {
            display: flex;
            justify-content: space-between;
    
            .input-field {
              width: 100%;
              max-width: calc(50% - 10px);
            }
          }

          &.fouth {
            .input-field {
              max-width: 100%;
            }
          }
        }

        .input-field {
          input {
            &.datepicker {
              padding-right: 0;
            }
          }
  
          &.date {
            svg {
              display: none;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding: 15px;

    .inner {
      header {
        min-height: 90px;
      }

      form {
        legend {
          margin-bottom: 30px;
        }
      }
    }
  }
}


