@charset 'UTF-8';

@import 'materialize-css/sass/components/normalize';

@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/functions';
@import '../abstracts/placeholders';
@import '../abstracts/animations';

@import '../base/typography';
@import '../base/images';
@import '../base/global';
@import '../base/reset';
@import '../base/utility-classes';
@import '../extention/choices';
@import '../extention/flatpickr.min';

$mainc: #6c7ae0;

* {
  box-sizing: border-box;
}

.s125 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background: url('../images/Searchs_125.png');
  background-size: cover;
  background-position: center center;
  padding: 15px;

  form {
    width: 100%;
    max-width: 900px;
    margin: 0;
    background: rgba(0, 0, 0, .8);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15); 
    padding: 60px 55px;

    header {
      font-family: 'Poppins', sans-serif;
      margin-bottom: 55px;

      .tab-form {
        a {
          font-size: 22px;
          color: #808080;
          display: inline-block;
          margin-right: 40px;
          text-decoration: none;
          transition: all .2s ease-out, color .2s ease-out;

          &.active {
            color: #fff;
          }

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .inner-form {
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .input-field {
          width: calc(50% - 10px);
          position: relative;

          input {
            height:60px;
            width: 100%;
            border: 0;
            background: #fff;
            display: block;
            width: 100%;
            font-size: 18px;
            color: #666;
            border-radius: 10px;
            padding: 11px 20px 10px 124px;
            font-family: 'Lato', sans-serif;
  
            @include placeholder {
              color: #ccc;
              font-size: 18px;
              text-transform: uppercase;
            }
  
            &:hover,
            &:focus {
              box-shadow: none;
              outline: 0;
            }
          }

          label {
            font-weight: bold;
            margin: 0;
            color: #333;
            width: 124px;
            font-size: 18px;
            position: absolute;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            z-index: 1;
          }

          &.where {
            width: 100%;

            input {
              height: 80px;
              padding: 11px 80px 10px 100px;
            }

            label {
              width: 100px;
            }

            .icon-wrap {
              width: 80px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;

              svg {
                fill: #ccc;
                width: 40px;
                height: 40px;
              }
            }
          }

          .choices__inner {
            background: #fff;
            border-radius: 0;
            border: 0;
            height: 60px;
            color: #666;
            display: flex;
            align-items: center;
            padding: 11px 20px 10px 124px;
            border-radius: 10px;

            .choices__list.choices__list--single {
              display: flex;
              padding: 0;
              align-items: center;
              height: 100%;
              font-size: 16px;
            }

            .choices__item.choices__item--selectable.choices__placeholder {
              display: flex;
              align-items: center;
              height: 100%;
              opacity: 1;
              color: #ccc;
            }

            .choices__list--single .choices__item {
              display: flex;
              align-items: center;
              height: 100%;
              color: #666;
            }
          }

          .choices[data-type*="select-one"]:after {
            right: 30px;
            border-color: #e5e5e5 transparent transparent transparent
          }

          .choices__list.choices__list--dropdown {
            border: 0;
            background: #fff;
            padding: 20px 30px;
            margin-top: 2px;
            border-radius: 4px;
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);

            .choices__item--selectable {
              padding-right: 0;
            }
          }

          .choices__list--dropdown .choices__item--selectable.is-highlighted {
            background: #fff;
            color: $mainc;
          }

          .choices__list--dropdown .choices__item {
            color: #555;
            min-height: 24px;
          }
        }

        .btn-search {
          height: 60px;
          width: 100%;
          white-space: nowrap;
          font-size: 18px;
          color: #fff;
          border: 0;
          cursor: pointer;
          position: relative;
          z-index: 0;
          background: $mainc;
          transition: all .2s ease-out, color .2s ease-out;
          font-weight: 400;
          border-radius: 10px;

          &:hover {
            background: darken($mainc, 5%);
          }

          &:focus {
            outline: 0;
            box-shadow: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding: 0;

    form {
      padding: 0;
      width: 100%;
      padding: 15px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: rgba(0, 0, 0, .6);

      header {
        margin-bottom: 30px;
        width: 100%;
      }

      header .tab-form {
        text-align: center;

        a {
          font-size: 18px;
          margin: 0 10px;
        }
      }

      .inner-form {
        width: 100%;

        .row {
          display: block;
          margin: 0;

          .input-field {
            width: 100%;
            margin-bottom: 20px;

            input {
              height: 50px;
              font-size: 16px;
              padding: 10px 20px 10px 100px;

              @include placeholder {
                font-size: 16px;
              }
            }

            label {
              font-size: 16px;
              width: 100px;
            }

            .choices__inner {
              height: 50px;
              padding: 9px 20px 10px 100px;
            }

            &.where {
              width: 100%;
  
              input {
                padding: 10px 10px 10px 80px;
              }
  
              label {
                width: 80px;
              }
  
              .icon-wrap {
                display: none;
              }
            }
          }

          .btn-search {
            font-weight: 600;
            height: 50px;
            font-size: 16px;
          }
        }
      }
    }
  }
}