@charset 'UTF-8';

@import 'materialize-css/sass/components/normalize';

@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/functions';
@import '../abstracts/placeholders';
@import '../abstracts/animations';

@import '../base/typography';
@import '../base/images';
@import '../base/global';
@import '../base/reset';
@import '../base/utility-classes';
@import '../extention/choices';

$mainc: #57b846;

* {
  box-sizing: border-box;
}

.s007 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00b5e9;
  padding: 15px;
  font-family: 'Roboto', sans-serif;

  form {
    width: 100%;
    max-width: 790px;
    margin: 0;

    .inner-form {
      width: 100%;

      .input-field {
        position: relative;

        input {
          height: 100%;
          border: 0;
          background: #fff;
          display: block;
          width: 100%;
          padding: 10px 32px 10px 70px;
          font-size: 18px;
          color: #666;
          border-radius: 3px;
          height: 70px;
          color: #555;

          @include placeholder {
            color: #999;
            font-size: 18px;
          }

          &:hover,
          &:focus {
            box-shadow: none;
            outline: 0;
          }
        }

        .btn-search {
          min-width: 100px;
          height: 40px;;
          padding: 0 15px;
          background: $mainc;
          white-space: nowrap;
          border-radius: 3px;
          font-size: 14px;
          color: #fff;
          transition: all .2s ease-out, color .2s ease-out;
          border: 0;
          cursor: pointer;
          font-weight: bold;

          &:hover {
            background: darken($mainc, 5%);
          }
        }

        .btn-delete {
          min-width: 100px;
          height: 40px;;
          padding: 0 15px;
          background: transparent;
          white-space: nowrap;
          border-radius: 3px;
          font-size: 14px;
          color: #555;
          transition: all .2s ease-out, color .2s ease-out;
          border: 0;
          cursor: pointer;
          font-weight: bold;

          &:hover {
            color: #000;
          }
        }
      }

      .basic-search {
        margin-bottom: 5px;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15); 

        .input-field {
          width: 100%;
          input {
            padding: 10px 110px 10px 70px;
          }
          
          .icon-wrap {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 60px;
            height: 100%;

            svg {
              width: 34px;
              height: 34px;
              fill: #ccc;
            }
          }

          .result-count {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 110px;
            top: 0;
            right: 0;
            position: absolute;
            font-weight: bold;
            color: #555;
            height: 100%;
            font-size: 14px;

            span {
              color: $mainc;
              padding-right: 5px;
            }
          }
        }
      }

      .advance-search {
        background: #fff;
        padding: 40px;
        border-radius: 3px;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15); 

        .desc {
          font-size: 15px;
          color: #999;
          display: block;
          margin-bottom: 26px;
        }

        .row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          &.second {
            margin-bottom: 46px;
          }

          &.third {
            margin-bottom: 0;
          }
        }

        .input-field {
          width: calc(33.3333% - 30px);
        }

        .input-select {
          height: 40px;
        }

        .choices__inner {
          background: transparent;
          border-radius: 0;
          border: 0;
          border-bottom: 2px solid #ccc;
          height: 100%;
          color: #fff;
          display: flex;
          align-items: center;
          padding: 0;
          padding-right: 30px;
          font-size: 14px;

          .choices__list.choices__list--single {
            display: flex;
            padding: 0;
            align-items: center;
            height: 100%;
            padding-top: 10px;
          }

          .choices__item.choices__item--selectable.choices__placeholder {
            display: flex;
            align-items: center;
            height: 100%;
            opacity: 1;
            color: #888;
          }

          .choices__list--single .choices__item {
            display: flex;
            align-items: center;
            height: 100%;
            color: #555;
          }
        }

        .choices__list.choices__list--dropdown {
          border: 0;
          background: #fff;
          padding: 20px 30px;
          margin-top: 2px;
          border-radius: 4px;
          box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);

          .choices__item--selectable {
            padding-right: 0;
          }
        }

        .choices__list--dropdown .choices__item--selectable.is-highlighted {
          background: #fff;
          color: $mainc;
        }

        .choices__list--dropdown .choices__item {
          color: #555;
          min-height: 24px;
        }

        .choices[data-type*="select-one"] {
          &:after {
            border: 0;
            width: 32px;
            height: 32px;
            margin: 0;
            transform: none;
            opacity: 1;
            right: 0;
            top: 10px;
            background-size: 18px 18px;
            background-position: right center;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
          }
  
          .choices__button {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%2357b846' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/%3e%3c/svg%3e");
            background-size: 16px 16px;
            background-position: right center;
            width: 32px;
            height: 32px;
            opacity: 1;
            display: none;
            top: 10px;
            right: 0;
            transform: none;
            margin: 0;
          }

          &.valid {
             .choices__button {
              display: block;

              &:hover {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z'/%3e%3c/svg%3e");
              }
            }

            &:after {
              display: none;
            }
          }

          &.is-open {
            &:after {
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    form {
      .inner-form {

        .basic-search {
          .input-field {
            input {
              padding: 10px 110px 10px 40px;
            }

            .icon-wrap {
              width: 40px;
              justify-content: center;
              
              svg {
                width: 16px;
                height: 16px;
              }
            }
          }
        }

        .advance-search { 
          .row {
            display: block;
          }

          .input-field {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        .input-field {
          

          input {
          }

          .btn-search {
            
          }
        }
      }
    }
  }
}