@charset 'UTF-8';

@import 'materialize-css/sass/components/normalize';

@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/functions';
@import '../abstracts/placeholders';
@import '../abstracts/animations';

@import '../base/typography';
@import '../base/images';
@import '../base/global';
@import '../base/reset';
@import '../base/utility-classes';
@import '../extention/choices';

$mainc: #4272d7;

* {
  box-sizing: border-box;
}

input,
button {
  font-family: 'Poppins', sans-serif;
}

.s131 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: url('../images/Search_131.png');
  background-size: cover;
  background-position: center center;
  padding: 15px;

  form {
    width: 100%;
    max-width: 940px;

    .inner-form {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .input-field {
        height: 68px;

        input {
          height: 100%;
          background: #fff;
          border: 0;
          display: block;
          width: 100%;
          padding: 10px 32px;
          font-size: 16px;
          color: #333;
          border: 1px solid #e5e5e5;

          @include placeholder {
            color: #9a9a9a;
            font-size: 20px;
          }

          &:hover,
          &:focus {
            box-shadow: none;
            outline: 0;
          }
        }

        &.first-wrap {
          flex-grow: 1;

          input {
            border-right: 0;
          }
        }

        &.second-wrap {
          min-width: 260px;

          .choices__inner {
            background: #fff;
            border-radius: 0;
            border: 1px solid #e5e5e5;
            height: 100%;
            color: #333;
            display: flex;
            align-items: center;
            padding: 0 30px;

            .choices__list.choices__list--single {
              display: flex;
              padding: 0;
              align-items: center;
              height: 100%;
            }

            .choices__item.choices__item--selectable.choices__placeholder {
              display: flex;
              align-items: center;
              height: 100%;
              opacity: 1;
              color: #333;
              font-size: 20px;
            }

            .choices__list--single .choices__item {
              display: flex;
              align-items: center;
              height: 100%;
              font-size: 20px;
            }
          }

          .choices__list.choices__list--dropdown {
            border: 0;
            background: #fff;
          }

          .choices__list--dropdown .choices__item--selectable.is-highlighted {
            background: #fff;
            color: #333;
          }

          .choices__list--dropdown .choices__item {
            color: #333;
          }

          .choices__list--dropdown {
            margin-top: 0;
          }
        }

        &.third-wrap {
          width: 164px;

          .btn-search {
            height: 100%;;
            width: 100%;
            white-space: nowrap;
            font-size: 20px;
            color: #fff;
            border: 0;
            cursor: pointer;
            position: relative;
            z-index: 0;
            background: $mainc;
            transition: all .2s ease-out, color .2s ease-out;
            font-weight: 300;

            &:hover {
              background: darken($mainc, 5%);
            }

            &:focus {
              outline: 0;
              box-shadow: none;
            }
          }
        }
      }

      .choices[data-type*="select-one"] {
        .choices__inner {
          padding-bottom: 0;
        }
  
        &:after {
          border: 0;
          width: 18px;
          height: 18px;
          margin: 0;
          transform: translateY(-50%);
          opacity: 1;
          right: 15px;
          top: 50%;
          background-size: 18px 18px;
          background-position: right center;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
          background-repeat: no-repeat;
        }
  
        &.is-open {
          &:after {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    form {
      .inner-form {
        .input-field {
          height: 60px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    form {
      .inner-form {
        flex-wrap: wrap;
        padding: 20px;

        .input-field {
          margin-bottom: 20px;

          input {
            padding: 10px 15px;
          }
          
          &.first-wrap {
            width: 100%;

            .choices__inner {
              padding: 10px 15px;
            }
          }

          &.second-wrap {
            width: 100%;

            input {
              border: 1px solid rgba(255, 255, 255, .3);
            }
          }

          &.third-wrap {
            margin-bottom: 0;
            width: 100%;
          }
        }
      }
    }
  }
}