extends modules/layout/layout.pug
include modules/_page-list/_page-list
block head
  link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
  link(href="css/A_Register_Form_02.css" rel="stylesheet")
  script(src='js/extention/custom-materialize.js')

block content
  .arf02
    .inner
      header
      form
        fieldset
          legend Registration Info
          .row
            .input-field
              input#name(type='text')
              label(for='name') NAME
          .row.two-line
            .input-field.date
              input#birthdate.datepicker(type='text')
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24")
                path(d="M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z")
              label(for='birthdate') BIRTHDATE
            .input-field
              select(data-placeholder='GENDER')
                option(value='', disabled='', selected='', data-disabled="true")
                option(value='1', data-disabled="false") MALE
                option(value='2' data-disabled="false") FEMALE
          .row
            .input-field
              select(data-placeholder='CLASS')
                option(value='', disabled='', selected='', data-disabled="true")
                option(value='1', data-disabled="false") CLASS A
                option(value='2' data-disabled="false") CLASS B
          .row
            .input-field
              input#code(type='text')
              label(for='code') REGISTRATION CODE
          .row
            button(type='button').btn.btn-flat.waves-effect.waves-light.btn-small.white-text.btn-search Search
  script.
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, {classes: 'custom'});
    });

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems);
    });