extends modules/layout/layout.pug
include modules/_page-list/_page-list
block head
  link(href="https://fonts.googleapis.com/css?family=Lato:400,600,700|Poppins:600" rel="stylesheet")
  link(href="css/Searchs_124.css" rel="stylesheet")

block content
  .s124
    form
      header
        .tab-form.travel-type-wrap
          a.item.active(href="#") HOTELS
          a.item(href="#") CAR
          a.item(href="#") FLIGHT
      .inner-form
        #tab-hotel
          .row
            .input-field.where
              label(for='from') Where:
              input#from(type='tVext', placeholder='City, Region or Airport')
          .row
            .input-field
              label(for='depart') Check-In:
              input.datepicker#depart(type='text', placeholder='mm/dd/yyyy')
            .input-field
              label(for='return') Check-Out:
              input.datepicker#return(type='text', placeholder='mm/dd/yyyy')
          .row.single
            .input-field
              label(for='Travelers') Travelers:
              .input-select
                select(data-trigger='', name='choices-single-defaul')
                  option(placeholder='') 1 adult,  0 Children,  1 Room
                  option 2 adult,  0 Children,  1 Room
                  option 2 adult,  2 Children,  2 Rooms
          .row.single
            .input-field
              button.btn-search SEARCH
  script(src='js/extention/choices.js')
  script(src='js/extention/flatpickr.js')
  script.
    flatpickr(".datepicker", {});
  script.
    const choices = new Choices('[data-trigger]', {
      searchEnabled: false,
      itemSelectText: '',
    });
    var btnTypes = document.querySelectorAll('.travel-type-wrap .item')
    for(let i = 0; i < btnTypes.length; i++) {
      btnTypes[i].addEventListener('click', function(){
        for(let i = 0; i < btnTypes.length; i++) {
          btnTypes[i].classList.remove('active')
        }
        btnTypes[i].classList.add('active')
      })
    }